/* -------------------- */
/* AQUI CUENTA PAGINAS */
/* ------------------ */
.account-page {
    padding: 50px 0;

    .form-container {
        background: #ffffff;
        width: 300px;
        height: 450px;
        position: relative;
        text-align: center;
        padding: 40px 0;
        margin: auto;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        span {
            font-weight: bold;
            padding: 0 10px;
            color: #555;
            cursor: pointer;
            width: 120px;
            display: inline-block;
        }

        form {
            max-width: 350px;
            padding: 0 20px;
            position: absolute;
            top: 130px;
            transition: transform 1s;

            a {
                font-size: 14px;
                text-decoration: underline;
            }

            .btn-explora {
                width: 100%;
                border: none;
                cursor: pointer;
                margin: 10px 0;
                &:focus {
                    outline: none;
                }
            }
        }

        input {
            width: 100%;
            height: 30px;
            margin: 10px 0;
            border-radius: 3px;
            padding: 0 10px;
            border: none;
            outline: none;
            border-bottom: 1px solid #ccc;
        }

        #LoginForm {
            left: 0px;
        }
        #RegForm {
            left: 300px;
            width: 100%;
        }
        #Indicator {
            width: 90px;
            border: none;
            background:#00A5C4;
            height:  6px;
            margin-top: 8px;
            margin-left: 20px;
            transform: translateX(0px);
            transition: transform 1s;
        }

        .from-group {
            cursor: pointer;
            font-size: 13px;
            text-decoration: underline;
        
            .from-group input{  
               width: auto !important;
               height: auto !important;
               margin: 0px 0 !important;
               padding: 0 10px !important;
               border: 1px solid #ccc !important;
           }
        }
    }

    .form-card {
        max-width: 300px;
        border-radius: 5px;
        margin: auto;
        
        .card-body {
            padding: 20px;
        }
        h5 {
            font-weight: bold;  
            color: #555;
            font-size: 16px;
        }
        .form-group i {
            color: #b3b3b3;
        }
        .btn-explora {
            font-size: 15px;
            font-weight: bold;
        }

        input {
            border: none;
            outline: none;
            border-bottom: 1px solid #ccc;
            border-radius: 0%;
        }
        
    }
    
    .form-btn {
        display: inline-block;
    }

    .ingresa-icons {    
        a {
            text-decoration: none !important;              
        }           
    }

    .form-check {
        display: flex;
        align-items: center;

        input {
            width: 15px;
            height: 15px;
        }
        label {
            margin-bottom: 0;
            margin-top: 0;
            margin-left: 20px;
            font-size: 13px;
        }
    }

}

/* ---------------------------*/
/* cuenta perfil ------------*/
.perfil-box {
    // display: flex;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #a5e7f35b;
    padding: 10px;
    border-radius: 3px;
    
    
    @media only screen and (max-width: 765px) {
        & {
            justify-content: right;
            grid-template-columns: 1fr 1fr;
           
            margin-bottom: 20px;
        }
    }
    
    .list-group {

        margin-top: 15px;
        padding-left: 0;
        padding-top: 0;
        // width: 60%;
        @media only screen and (max-width: 765px) {
            width: 100%;
        }
    
        a{
           font-size: 12px;
           padding: 5px 8px;
           
           i {
               margin-right: 10px;
               margin-top: 2px;
               font-size: 10px;
           }
           &:hover i {
            color: var(--txt-ac-third);
           }
    
           .badge {
               border: 1px solid var(--txt-ac-third);
               background: #ffffff;
               color: #3f3f3f;
               margin-left: 30px;
               border-radius: 3px;
           } 
           &:hover .badge {
            background: var(--bg-tercero);
            color: #ffffff;
            }    
        }
    
       .active {
           background: var(--bg-segundo);
           color: var(--txt-ac-primary);
           border-bottom: 3px solid #e4e4e4;
           border-top: 1px solid #e0e0e0;
           border-left: 3px solid var(--txt-ac-third);
           font-weight: 700;
           letter-spacing: .5px;
           font-size: 13px;
           
           i {
               color: var(--txt-ac-third);
           }
       }
    }
    
    .perfil-box-user {
        text-align: center !important;
        margin-bottom: 15px;
    
        img {
           width: 70px;
           height: 70px;
           border-radius: 50% !important;
           object-fit: cover;

           @media only screen and (max-width: 765px) {
               width: 130px;
               height: 130px;
           }
       }
       h5 {
        font-size: 14px !important;
        color: #353535;
        }
        small {
            font-size: 10px;
        }
        span {
            u {
                text-decoration: none;
                border-bottom: 3px solid var(--bg-tercero);
            }
        }
    }
}

/* form-perfil */
.form-perfil {
    border: 1px solid #a5e7f35b;
    padding: 10px;
    border-radius: 3px;
     h4 {
        border-left: 3px solid #00A5C4;
        margin-bottom: 20px;
        text-align: left;

        padding: 10px;
    }
    
    hr {
        // background: var(--bg-tercero);
        // height: 2px;
    }
    
    form {

        input {
            height: 27px;
            font-size: 13px;
            border-radius: 0%;
            border: none;
            outline: none;
            border-bottom: 1px solid #ccc;
            padding-left: 0;
        }
        label {
            font-size: 15px;
            margin-bottom: 0;
            color: #02758a;
        }
    }

    select {
        font-size: 13px;
        height: 27px;
        padding-top: 3px;
        border-radius: 0%;
    }
    
    .form-row {
        margin-bottom: 0;
    }
    .input-number-cuenta  {
        margin-bottom: 20px;
        padding-left: 5px;
    }
    .input-number-cuenta:hover {
        transform: translateY(0px);
    } 
}
/* ---------------------------*/
/* cuenta perfil ------------*/

/* cuenta lista de pedidos */
.container-lista-pedidos {

    table {
        width: 100%;
        margin-bottom: 20px;

        thead {
    
            tr{
                height: 27px !important;
                color: #353535;
                font-size: 14px;
                border-bottom: 3px solid var(--bg-tercero) ;
            }
            
            th {
                font-weight: 500;
                margin-bottom: 10px !important;
            }
        }
        
        tbody{
            font-size: 13px;
        
            tr {
                height: 30px;
                border-bottom: 1px solid #bebebe;
                &:hover {
                    background: #f5f4f4;
                } 
                
            }
            
            th  {
                font-size: 14px;
                font-weight: 600;
                span{
                    font-weight: 500;
                }
            }            
        }
        
        th {
            padding-left: 5px;
        }
    }

}

/* -------------- */
/* lista-favoritos */
.lista-favoritos {
font-size: 13px;

    li {
        padding: 5px 0;
        display: flex;
        align-items: center;
    }

    .media {

        .media-body {
            margin-left: 15px;
        }
        img {
            width:65px;
        }
        button {
            font-size: 10px;
            letter-spacing:  1px;

            i {
                font-size: 8px;
            }
        }

    }

    .fa-times {
        color: #777;
    }

    .card-link {
        font-size: 16px;
        color: #4d4d4d;
    }
    
    .favorito-precio {
        color: #707070;
    }
    
    .container-lista-group {
        border: 1px solid #a5e7f35b;
        padding: 10px;
        border-radius: 3px;
        max-height: 500px;
        overflow-y: scroll;
        scrollbar-width: thin;
        padding: 0px 5px;
        border-radius: 5px;
        padding-bottom: 20px;
        img{ 
           width: 50px;
        }
    }
}

.check-formulario-revision {
}

/* -------------------- */
/* AQUI CUENTA PAGINAS */
/* ------------------ */